@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header-nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.06px;
  color: #332038;
}
.header-nav-item.active {
  background-color: #684222 !important;
  color: white !important;
  font-weight: 500 !important;
}

.dark .header-nav-item-dark {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.06px;
  color: #fee8e9;
}
.dark .header-nav-item-dark.active {
  background-color: #ff7d82 !important;
  color: #4a1f27 !important;
  font-weight: 500 !important;
}
.custom-border {
  border-left: 2px solid transparent; /* Set left border to transparent */
  border-right: 2px solid transparent; /* Set right border to transparent */
  border-top: 2px solid transparent; /* Set right border to transparent */
  border-image: linear-gradient(to bottom, white, transparent) 2; /* Gradient from white to transparent */
  border-radius: 20px; /* Custom radius */
}
.liquidity_manage_active {
  background-color: #ff7d82 !important;
  color: white !important;
  opacity: 100%;
}
.dark .liquidity_manage_active {
  background-color: #c37623 !important;
  color: white !important;
  opacity: 100%;
}

.lock_manage_active {
  background-image: linear-gradient(
    180deg,
    #ff7d82 0%,
    #ffc1c4 100%
  ) !important;
  color: white !important;
  opacity: 100%;
}

input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: #ff7d82; /* Customize thumb color */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

input[type="range"]::-moz-range-thumb {
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: #4a90e2; /* Customize thumb color */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

input[type="range"]::-ms-thumb {
  width: 10px; /* Width of the thumb */
  height: 10px; /* Height of the thumb */
  background: #4a90e2; /* Customize thumb color */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

@layer components {
  /* Custom scrollbar styles */
  .scrollbar {
    overflow-y: auto;
    scrollbar-width: 2px;
  }

  /* For Webkit browsers (Chrome, Safari) */
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0 green, blue); /* Track color */
    border-top-right-radius: 15px !important;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff4465 !important; /* Thumb color */
    border-radius: 10px !important; /* Rounded corners */
    /* -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2b6cb0; /* Thumb color on hover */
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
